<h2><%= @application.name %><h2>
  <p>Street Address: <%= @application.address %></p>
  <p>City: <%= @application.city %></p>
  <p>State: <%= @application.state %></p>
  <p>Zip Code: <%= @application.zip_code %></p>
  <p>Why They'd Be Good For This Pet: <%= @application.description %></p>
  <p>Status: <%= @application.status %></p>
  <p>Pet(s) They Are Wanting To Adopt: <% @pet_apps.each do |pet| %></p>
  <%= link_to "#{pet.name}", "/pets/#{pet.id}", method: :get %>
  <% end %>

  <h4>Add a Pet to This Application:</h4>
<%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
<%= f.label :name, "Pet Name" %>
<%= f.text_field :name %>
<%= f.submit 'Submit' %>
<% end %>

<% if @pets != nil %>
<% @pets.each do |pet| %>
<%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
<%= button_to "Add #{pet.name}", "/applications/#{@application.id}?new_pet_id=#{pet.id}", method: :post, local: true %>
<% end %>
<% end %>
